<ion-header>
  <ion-navbar>
    <ion-title>
      Click2Evaluate
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)='closeModal()' end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card text-center>
      <ion-card-header class="line-break">
        Module : <br/>
        {{ label }}
      </ion-card-header>
      <ion-card-content>
        Questionnaire complété : {{ answered }} <br/> <br/>
        <div *ngIf="group > 0">Votre groupe : n°{{ group }}</div>
        <div *ngIf="group == 0">Pas de groupes pour ce module</div><br/>
        Délégué du groupe : <br/> {{ delegate }} <br/> <br/>
        Ouverture du questionnaire : <br/> {{ availableDate }} <br/> <br/>
        Fermeture du questionnaire : <br/> {{ commissionsDate }}
      </ion-card-content>
    </ion-card>

  <!---
  <h1> Module {{ id }} : {{ label }} </h1>
  <ion-list>
    <ion-item>
      Répondu ? {{ answered }}
    </ion-item>

    <ion-item>
      Votre groupe : {{ group }}
    </ion-item>

    <ion-item>
      Le délégué de votre groupe est {{ delegate }}
    </ion-item>

    <ion-item>
      <p> Vous pouvez répondre à partir du : {{ availableDate }} </p>
    </ion-item>

    <ion-item>
      <p> Date limite pour répondre au questionnaire {{ commissionsDate }} </p>
    </ion-item>

  </ion-list>
-->

  <div *ngIf="available">
  <div *ngIf="answered == 'Non'" padding>
      <button ion-button color="primary" block (click)="openSurvey()"> Évaluer </button>
  </div></div>

</ion-content>
