page-survey {

ion-slide.swiper-slide {
    align-items: flex-start;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.scroll-content {
    padding-bottom: 0px!important;
}
.mandatory-question{
    color: #FF0000;
}
}
