<ion-header>
  <ion-navbar>
    <ion-title>
      Questionnaire <!-- : {{ surveyData.course.label }} -->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-slides (ionSlideNextStart)="check_possible()">
    <!-- begin -->
    <ion-slide>

      <ion-card text-center>
        <ion-card-header class='line-break'>
          Évaluation du module :
          {{ surveyData.course.label }}
        </ion-card-header>
        <ion-card-content>
          Pour parcourir le questionnaire, il suffit de faire glisser la
          question vers la gauche lorsque vous y avez répondu.
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <!-- questions -->
    <div *ngFor="let question of surveyData.survey">

        <ion-slide  *ngIf="displayable(question)">
          <!-- Si la question est obligatoire, on affiche un logo + 'question obligatoire' -->
          <div *ngIf='question.obligatory' class="center">
            <!--<ion-icon  name='alert'></ion-icon>-->
            <ion-card text-center>
              <ion-card-header class="mandatory-question">
                Question obligatoire
              </ion-card-header>
            </ion-card>
          </div>

          <ion-card>
            <ion-card-header>
              {{ question.title }}
            </ion-card-header>
            <ion-card-content>
              {{ question.label }}
            </ion-card-content>
          </ion-card>

          <!-- On affiche la question suivant le type de celle-ci -->
          <ion-item *ngIf='question.type_question == "inline"'>
            <ion-input type="text" [(ngModel)]="question.answer"
                placeholder="Votre réponse"[(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" (input)="swipe_unlock()">
              </ion-input>

          </ion-item>

          <ion-item *ngIf='question.type_question == "text"'>
            <ion-textarea autosize [(ngModel)]="question.answer" placeholder="Votre réponse"[(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" (input)="swipe_unlock()">  </ion-textarea>
          </ion-item>

          <!-- Old version with 'ion-select' (change __selectOne__ to selectOne to test) -->
          <ion-item *ngIf='question.type_question == "__selectOne__"'>
            <ion-select  multiple="false" [(ngModel)]="question.answer">
             <ion-option *ngFor="let choice of question.type_data let index = index" [value]=index (ionSelect)="swipe_unlock()">
               {{ choice }}
             </ion-option>
           </ion-select>
         </ion-item>

         <ion-list *ngIf='question.type_question == "selectOne"' radio-group [(ngModel)]="question.answer">
           <ion-item *ngFor="let choice of question.type_data, let index = index">
             <ion-label  class='line-break'>{{ choice }}</ion-label>
             <ion-radio [value]="index" (ionSelect)="swipe_unlock()"></ion-radio>
           </ion-item>
         </ion-list>

         <div >
           <ion-list *ngIf='question.type_question == "select"'>
             <ion-item *ngFor="let choice of question.type_data, let index = index">
               <ion-label class='line-break'>{{ choice }}</ion-label>
               <ion-checkbox [(ngModel)]="question.answer[index]" (ionSelect)="swipe_unlock()"></ion-checkbox>
             </ion-item>
           </ion-list>
        </div>

          <ion-item *ngIf='question.type_question == "seilect"'>
            <ion-select  multiple="true" [(ngModel)]="question.answer">
             <ion-option *ngFor="let choice of question.type_data let index = index" [value]=index (ionSelect)="swipe_unlock()">
               {{ choice }}
             </ion-option>
           </ion-select>
         </ion-item>

          <ion-item *ngIf='question.type_question == "number"'>
             <ion-input type="number" placeholder="Combien ?" [(ngModel)]="question.answer" (input)="swipe_unlock()"></ion-input>
          </ion-item>

          <!--<div (ionSlideDrag)='check_possible(question)'></div>-->
        </ion-slide>

    </div>
    <!-- end of loop on surveyData.survey -->

    <!-- end -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Fin du questionnaire !
        </ion-card-header>
        <ion-card-content>
          Ce questionnaire est maintenant terminé. Nous vous remercions pour vos réponses !
        </ion-card-content>
      </ion-card>

      <div padding>
          <button ion-button color="primary" (click)="send_survey()" block> Envoyer mes réponses </button>
      </div>
    </ion-slide>

</ion-slides>

</ion-content>
