<ion-header>
  <ion-navbar>
    <ion-title>
      Questionnaire : {{ surveyData.course.label }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides (ionSlideDrag)="display()">
    <!-- begin -->
    <ion-slide>

      <ion-card text-center>
        <ion-card-header>
          Module choisi
        </ion-card-header>
        <ion-card-content>
          Vous allez évaluer le module : {{ surveyData.course.label }}.
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <!-- questions -->
    <div *ngFor="let question of surveyData.survey">

        <ion-slide  *ngIf="displayable(question)">

          <!-- Si la question est obligatoire, on affiche un logo + 'question obligatoire' -->
          <div *ngIf='question.obligatory' class="center">
            <!--<ion-icon  name='alert'></ion-icon>-->
            <ion-card text-center>
              <ion-card-header color="assertive">
                Question obligatoire
              </ion-card-header>
            </ion-card>
          </div>

          <ion-card>
            <ion-card-header>
              Question
            </ion-card-header>
            <ion-card-content>
              {{ question.label }}
            </ion-card-content>
          </ion-card>

          <!-- On affiche la question suivant le type de celle-ci -->
          <ion-item *ngIf='question.type == "inline"'>
            <ion-label> {{ question.label }} </ion-label>
            <ion-input type="text" [(ngModel)]="question.answer"
                placeholder="Votre réponse"[(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}">
              </ion-input>

          </ion-item>

          <ion-item *ngIf='question.type == "text"'>
            <ion-label> {{ question.resume }} </ion-label>
            <ion-textarea autosize [(ngModel)]="question.answer" placeholder="Votre réponse"[(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}">  </ion-textarea>
          </ion-item>

          <ion-item *ngIf='question.type == "selectOne"'>
            <ion-label> {{ question.resume }} </ion-label>
            <ion-select  multiple="false" [(ngModel)]="question.answer">
             <ion-option *ngFor="let choice of question.type_data let index = index" [value]=index>
               {{ choice }}
             </ion-option>
           </ion-select>
         </ion-item>

          <ion-item *ngIf='question.type == "select"'>
            <ion-label> {{ question.resume }} </ion-label>
            <ion-select  multiple="true" [(ngModel)]="question.answer">
             <ion-option *ngFor="let choice of question.type_data let index = index" [value]=index>
               {{ choice }}
             </ion-option>
           </ion-select>
         </ion-item>

          <ion-item *ngIf='question.type == "number"'>
            <ion-label> {{ question.resume }} </ion-label> <!-- Rajouter les bornes -->
             <ion-input type="number" placeholder="Combien ?" [(ngModel)]="question.answer"></ion-input>
          </ion-item>

        </ion-slide>

    </div> <!-- end of loop on surveyData.survey -->

    <!-- end -->
    <ion-slide>
      Nous vous remercions pour vos réponses...
      Une dernière remarque ?
      <ion-textarea Autosize type="text"> </ion-textarea>
      <div padding>
          <button ion-button color="primary" (click)="send_survey()" block> Envoyer mes réponses </button>
      </div>
    </ion-slide>

</ion-slides>

</ion-content>
