<ion-header>
  <ion-navbar>
    <ion-title>
      Click2Evaluate
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)='refresh_data()' end>
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-left (click)='display_help()' end>
        <ion-icon name="help-circle"></ion-icon>
      </button>
      <button ion-button icon-left (click)='disconnect()' end>
        <ion-icon name="log-out"></ion-icon>
      </button>
      <button ion-button icon-left (click)='display_credits()' end>
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="studentsData.connected">
    <ion-card text-center>
      <ion-card-header class="line-break">
        Bienvenue {{ studentsData.ldap }}
      </ion-card-header>
      <ion-card-content>
        Voici la liste des modules à évaluer. <br/>
        Cliquez sur un module pour avoir plus d'informations sur le questionnaire associé. <br/>
        Faites glisser le module que vous souhaitez évaluer.
      </ion-card-content>
    </ion-card>

  <ion-list>
      <ion-list-header> Cours disponibles à évaluer</ion-list-header>
      <div *ngFor='let course of studentsData.courses'>
        <div *ngIf='available(course)'>
          <ion-item-sliding *ngIf='!course.answered' #slidingItem>
            <ion-item (click)='openModal(course)' text-wrap>
              <ion-icon *ngIf='course.delegate == this.studentsData.ldap' name='warning' item-end></ion-icon>
              {{course.label}}
            </ion-item>
            <ion-item-options side='right' (ionSwipe)='openSurvey(course)'>
              <button ion-button icon-only (click)='openSurvey(course)'>
                <ion-icon name='create'></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>
      <ion-list-header> Cours déjà évalués</ion-list-header>
      <div *ngFor='let course of studentsData.courses'>
          <ion-item-sliding *ngIf='course.answered'>
            <ion-item (click)='openModal(course)' text-wrap>
              <ion-icon name="checkmark"></ion-icon> {{course.label}}
            </ion-item>
          </ion-item-sliding>
      </div>
      <ion-list-header> Cours non disponibles </ion-list-header>
      <div *ngFor='let course of studentsData.courses'>
        <!-- courses unavailable (too soon) -->
        <div *ngIf='tooSoon(course)'>
            <ion-item-sliding *ngIf='!available(course)' #slidingItem>
              <ion-item (click)='openModal(course)' text-wrap>
                <ion-icon *ngIf='course.delegate == this.studentsData.ldap' name='warning' item-end></ion-icon>
                {{ course.label }}
              </ion-item>
              <ion-item-options side='right'>
                Trop tôt.
              </ion-item-options>
            </ion-item-sliding>
        </div>

        <div *ngIf='tooLate(course)'>
          <ion-item-sliding *ngIf='!course.answered' #slidingItem>
            <ion-item (click)='openModal(course)' text-wrap>
              {{course.label}}
            </ion-item>
            <ion-item-options side='right'>
              Trop tard. 
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="course.commissionsDate"></ion-datetime>
            </ion-item-options>
          </ion-item-sliding>
        </div>

      </div>

  </ion-list>

</div>
<div *ngIf="!studentsData. connected">
  <h2> Aucun cours à afficher, vous n'êtes pas connecté. </h2>
</div>
</ion-content>
