<ion-header>
  <ion-navbar>
    <ion-title>
      Click2Evaluate
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)='refresh_data()' end>
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-left (click)='disconnect()' end>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="studentsData.connected">
  <h2> Quels modules souhaitez-vous évaluer ?  </h2>

  <h3> Modules non complétés </h3>
  <ion-list>
      <ion-item-sliding *ngFor='let course of studentsData.courses'>
        <ion-item>
          {{course.label}}
        </ion-item>
        <ion-item-options side='right' (ionSwipe)='openSurvey(course)'>
          <button ion-button icon-only (click)='openSurvey(course)'>
            <ion-icon name='create'></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <h3> Modules déjà complétés (dans les temps) </h3>
  <h3> Modules non-complétés (délai dépassé) </h3>
</div>
<div *ngIf="!studentsData. connected">
  <h2> Aucun cours à afficher, vous n'êtes pas connecté. </h2>
</div>
</ion-content>
